* {
  margin: 0;
  padding: 0;
}
body {
  width: 5000px;
  height: 5000px;
}
#plataforma {
  background-color: rgb(51, 51, 51);
  border: solid 10px rgba(207, 0, 0, 0.877)
}
#cobrinha {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 600px;
}
#tampaTudo {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#coisas {
  height: 300px;
  width: 300px;
  
}
input {
  position: relative;
  top: 50%;
  transform: translateY(-100%); 
  background-color: transparent;
  font-size: x-large;
  border: none;
  width: 100%;
  outline: none;
  color: rgb(103, 219, 142);
  border-bottom: solid 1px rgb(57, 165, 93);
}
input::placeholder {
  color: rgba(57, 165, 93, 0.774);
}
#submeta-se {
  border: none;
  background-color: rgba(57, 165, 93, 0.089);
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}
